main {
  min-width: 1600px;
  margin: auto;
}

.menu {
  height: 600px;
  width: 1600px;
  margin: auto;
  object-fit: cover;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img17.jpg);
}


