.portfolio_card_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.portfolio_card {
  margin-bottom: 30px;
  margin-top: 30px;
  cursor: pointer;
  width: 370px;
  height: 403px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 5px 15px rgba(141, 132, 132, 0.8);
  }
}
