.card-section {
  margin: 94px 0px 94px 0px;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;

  &__list {
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
    width: 370px;
    height: 403px;
    overflow: hidden;

    &:hover {
      box-shadow: 0 5px 15px rgba(141, 132, 132, 0.8);
    }
  }

  &__list--img {
    width: 370px;
    height: 294px;
    overflow: hidden;
    z-index: 2;
    position: relative;
  }

  &__list--overlay {
    position: absolute;
    width: 370px;
    height: 300px;
    z-index: 1;
    text-align: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
  }

  &__list--overlay p {
    color: var(--white-color);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    font-family: var(--main-font);
    text-align: left;
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
  }

  &__list:hover .portfolio-card__list--overlay {
    transform: translateY(-100%);
    opacity: 0.9;
    background-color: var(--main-color);
  }

  &__list--content {
    width: 370px;
    height: 109px;
    border-bottom: solid 1px #eeeeee;
    border-left: solid 1px #eeeeee;
    border-right: solid 1px #eeeeee;

    &-title {
      padding: 20px 24px 20px 24px;
      font-size: 18px;
    }

    &-description {
      margin: 4px 24px 20px 24px;
      font-size: 16px;
      color: var(--gray-color);
    }
  }
}
