.lorem_ipsum_title {
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--black-color);
  letter-spacing: 0.03em;
  margin-left: auto;
}
