.text_in_baner {
  width: 696px;
  line-height: 1.4;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 30px;
  color: var(--white-color);
}
